In [1]:
import pandas as pd

In [23]:
data = pd.read_csv('../data/client_dataset_csv.csv', index_col=0)
print(data.shape)
data.head()

(12673, 8)

,position,age,country,city,key_skills,client_name,grade_proof,salary
0,"""программист"" (по факту аналитик), отдел проек...",34.0,Россия,Барнаул,"Анализ требований, Разработка ТЗ, Управление т...",ТОП Финтех,не подтверждён,Вероника претендует на Грейд 2 (Остальные реги...
1,(Повышение) Инженер отдела управления инфрастр...,35.0,Россия,Калининград,Организация обработки конфиденциальной информа...,"ТОП IT (сервисы, интеграторы)",не подтверждён,"Минимум 200 (net, без учёта премий), комфорт 2..."
2,(Повышение) Инженер отдела управления инфрастр...,35.0,Россия,Калининград,Организация обработки конфиденциальной информа...,ТОП Телеком,не подтверждён,"Минимум 200 (net, без учёта премий), комфорт 2..."
3,(Повышение) Инженер отдела управления инфрастр...,35.0,Россия,Калининград,Организация обработки конфиденциальной информа...,"ТОП IT (сервисы, интеграторы)",не подтверждён,"Минимум 200 (net, без учёта премий), комфорт 2..."
4,(Повышение) Инженер отдела управления инфрастр...,35.0,Россия,Калининград,Организация обработки конфиденциальной информа...,ТОП Финтех,не подтверждён,"Минимум 200 (net, без учёта премий), комфорт 2..."

In [26]:
data[data.grade_proof == 'подтверждён'].client_name.value_counts()

client_name
ТОП Финтех                       550
ТОП IT (сервисы, интеграторы)     83
ТОП Телеком                       69
X5 Group                          21
Cloud.ru                          12
Яндекс Маркет                      7
ЮЛаки                              7
Сбер Еаптека                       7
ТОП eCOM                           7
Click2Money                        3
Nebius                             3
Amdocs                             3
М.Видео – Эльдорадо                3
Брусника                           3
ЛитРес                             2
4 Лапы                             2
Хеликон                            2
Fun&Sun                            2
РСХБ                               2
Loymax                             2
OZON                               2
Казино NDA                         2
Самолёт                            2
585 RPO                            1
Equifax                            1
Papa John's                        1
Brand Analytics                    1
InDrive                            1
Яндекс.Cloud                       1
ЦБ РФ                              1
Hawex                              1
BIOCAD                             1
Name: count, dtype: int64

In [30]:
data.position.value_counts()

position
Системный аналитик                            679
Ведущий системный аналитик                    215
Java Developer                                183
Java-разработчик                              170
DevOps                                        149
                                             ...
Tech Lead (Ansible)                             1
Tech Lead / ранее Ведущий Java разработчик      1
Tech Lead AQA                                   1
Tech Lead DevOps                                1
‮                                               1
Name: count, Length: 4033, dtype: int64

In [14]:
data.position = data.position.apply(lambda x: x.lower())# value_counts().head()

In [15]:
data.position.value_counts().head()

position
.net разработчик                                         40
.net developer                                           27
.net backend developer                                    6
(повышение) инженер отдела управления инфраструктурой     4
1с программист                                            4
Name: count, dtype: int64

In [19]:
print(data.groupby(['position', 'client_name']).size().head())

position                                                                       client_name
"программист" (по факту аналитик), отдел проектирование информационных систем  ТОП Финтех                       1
(парт-тайм) преподаватель направления информационной безопасности              X5 Group                         1
                                                                               Черкизово                        1
(повышение) инженер отдела управления инфраструктурой                          ТОП IT (сервисы, интеграторы)    2
                                                                               ТОП Телеком                      1
dtype: int64

In [29]:
confirmed_cases = data[data['grade_proof'] == 'подтверждён']

# Шаг 2: Определим пары (position, client_name) с подтверждёнными случаями
confirmed_positions = confirmed_cases[['position', 'client_name']].drop_duplicates()

# Шаг 3: Найдём пары, которых нет среди подтверждённых
all_positions = data[['position', 'client_name']].drop_duplicates()
not_confirmed_positions = all_positions.merge(
    confirmed_positions,
    on=['position', 'client_name'],
    how='left',
    indicator=True
).query('_merge == "left_only"')[['position', 'client_name']]

# Результат
print("Компании и позиции без подтверждённых случаев:")
not_confirmed_positions

Компании и позиции без подтверждённых случаев:

,position,client_name
0,"""программист"" (по факту аналитик), отдел проек...",ТОП Финтех
1,(Повышение) Инженер отдела управления инфрастр...,"ТОП IT (сервисы, интеграторы)"
2,(Повышение) Инженер отдела управления инфрастр...,ТОП Телеком
3,(Повышение) Инженер отдела управления инфрастр...,ТОП Финтех
4,(Проектная работа) QC Engineer,"ТОП IT (сервисы, интеграторы)"
...,...,...
5869,старший Java разработчик,ТОП Финтех
5871,старший инженер тестировщик,ТОП Финтех
5873,тимлид(Lead),Сбер Еаптека
5874,фронтэнд разработчик,ТОП Финтех
5875,‮,ТОП Телеком